<div data-controller="meetingform">
<%= form_with(model: meeting, data: { turbo_frame: "_top" }) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <%= form.hidden_field :account_id, value: current_account.id, autocomplete: "off" %>
  <%= form.hidden_field :host_id, value: current_user.id, autocomplete: "off" %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group" data-meetingform-target="datePicker">
    <%= form.label :starts_at %>
    <%= form.text_field :starts_at, class: "form-control", data: { controller: :flatpickr, flatpickr_enable_time: true, flatpickr_alt_input: true, flatpickr_alt_format: t("time.formats.long") } %>
  </div>

  <div class="form-group">
    <%= label_tag :company_id, t("activerecord.models.company") %>
    <%= select_tag(
      :company_id,
      options_from_collection_for_select(@companies, "id", "name"),
      include_blank: true,
      class: "select"
    ) %>
    <p class="card-paragraph mt-2">
      <%= t(".company_instructions") %>
    </p>
  </div>
  
  <div class="form-group">
    <%= form.check_box :use_video, class: "form-checkbox mr-2", data: { action: "click->meetingform#toggleDate", "meetingform-target": "useVideo" } %>
    <%= label_tag :use_video, t('.is_async'), class: "inline-block" %>
  </div>

  <div class="form-group">
    <%= check_box_tag :must_sign, "1", (@host_member&.present? ? @host_member.must_sign : true), class: "form-checkbox mr-2" %>
    <%= label_tag :must_sign, t('.host_must_sign'), class: "inline-block" %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to t("delete"), form.object, class: "btn btn-danger outline", method: :delete, data: { confirm: t("are_you_sure") } %>
    <% end %>
  </div>
<% end %>
</div>