<div class="container mx-auto my-2 px-4">
  <div class="max-w-6xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <div class="flex">
        <h1 class="h3">
          <%= link_to 'Meetings', meetings_path %> > <%= @meeting.title %> 
        </h1>
      </div>
      <%= link_to t("edit"), edit_meeting_path(@meeting), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
      <h3><%= t('.details') %></h3>
      <div class="flex justify-center">
        <div class="card flex justify-between">
          <div class="mb-2 mr-8">
            <h4><%= t(".account") %></h4>
            <%= @meeting.account.name %>
          </div>
          <div class="mb-2 mr-8">
            <h4><%= t(".company") %></h1>
            <%= @meeting.meeting_members.find_by(memberable: @meeting.host)&.company&.name || @meeting.account.name %>
          </div>
          <div class="mb-2 mr-8">
            <h4><%= t(".state") %></h4>
            <%= @meeting.aasm.human_state %>
          </div>
          <% if @meeting.completed? %>
            <div class="mb-2">
              <h4><%= t(".completed") %></h4>
              <%= @meeting.completed_at %>
            </div>
          <% else %>
            <div class="mb-2">
              <h4><%= t(".starts_at") %></h4>
              <%= @meeting.starts_at %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2">
        <div class="my-2 ml-2">
          <h3><%= t(".members") %></h3>
          <%= turbo_frame_tag(
            "meeting_members",
            src: meeting_meeting_members_path(@meeting),
            data: {
              controller: "meeting-members--list",
              meeting_members__list_id_value: @meeting.id,
            }
          ) %>
        </div>
        
        <div class="my-2 mr-2">
          <h3><%= t(".documents") %></h3>
          <%= turbo_frame_tag(
            "documents",
            src: meeting_documents_path(@meeting),
            data: {
              controller: "documents--list",
              documents__list_id_value: @meeting.id
            }
          ) %>
          <% if current_user %>
            <div data-controller="modal" class="card flex justify-center" id="new_document_modal">
              <button class="btn btn-secondary" data-action="click->modal#open">
                <%= fa_icon "plus", weight: "fas", class: "mr-2" %>
                <%= t(".new_document") %>
              </button>
              <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
                <!-- Modal Inner Container -->
                <div class="max-h-screen w-full max-w-2xl relative">
                  <div class="m-1 bg-white rounded shadow">
                    <div class="p-8">
                      <%= turbo_frame_tag "new_document", data: { action: "turbo:load->modal#close" } do %>
                        <div class="card">
                          <p class="card-header"><%= t(".new_document") %></p>
                          <%= render "documents/form", document: @meeting.documents.new %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        
        <% if @meeting.completed? && @meeting.host == current_user %>
        <div class="my-2 ml-2">
          <h3><%= t(".recordings") %></h3>
          <% if @recordings.any? %>
            <% @recordings.each do |rec| %>
            <p>
              <a href="<%= rec[:uri] %>" target="_blank">
                <%= l rec[:started_at], format: :long %> (<%= rec[:duration] %>)
              </a>
            </p>
            <% end %>
          <% else %>
            <p><%= t(".no_recordings") %></p>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="flex justify-center">
        <%= link_to t('.join_meeting'), pre_meeting_meeting_room_path(@meeting), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>