<% participant_form_data = {
  turbo_frame: "_top",
  controller: "form-loading",
  action: "submit->form-loading#loading",
  form_loading_load_with_value: fa_icon("upload", weight: "fas", class: "mr-2") + t(".uploading")
} %>
<%= form_with(model: participant, url: meeting_participant_id_upload_path(@meeting, participant), html: { method: :post }, data: participant_form_data) do |form| %>
  <div class="flex justify-between">
    <div class="flex">
      <div class="relative">
        <%= identification_preview(participant) %>
        <div class="absolute opacity-70" style="top: 2em; right: 1em;">
          <%= form.file_field :identification, accept: 'image/*,application/pdf', class: "input-file" %>
          <label for="participant_identification" class="ml-4">
            <%= render_svg "icons/photo", styles: "fill-current icon-xs mr-2" %> <span><%= t(".select_file") %></span>
          </label>
        </div>
      </div>
    </div>
    <div class="flex">
      <%= form.button class: "btn btn-primary" do %>
        <%= fa_icon "upload", weight: "fas", class: "mr-2" %>
        <%= t('.submit') %>
      <% end %>
      <% if participant.identification.attached? %>
        <%= button_to t('.delete'), meeting_participant_id_upload_path(@meeting, participant), class: "btn btn-link danger-text", method: :delete, data: { confirm: t('.confirm_delete')} %>
      <% end %>
      <%= link_to t('.skip'), meeting_participant_id_upload_path(@meeting, participant), class: "btn btn-link", data: { confirm: t('.confirm_skip') } %>
    </div>
  </div>
<% end %>