<% is_participant = meeting_member.memberable_type == "Participant" %>
<% frame_data = { 
    controller: "meeting-members--member",
    meeting_members__member_is_participant_value: "#{is_participant}",
    meeting_members__member_url_value: is_participant ? meeting_participant_path(meeting_member.meeting, meeting_member.memberable) : "",
    meeting_members__member_id_value: meeting_member.id
} %>
<%= turbo_frame_tag dom_id(meeting_member), data: frame_data do %>
  <div class="card">
    <div class="flex justify-between items-center">
      <div>
        <p class="card-title pointer-events-active" data-action="click->meeting-members--member#toggle">
          <%= meeting_member.memberable.name %>
        </p>
        <p class="card-paragraph">
          <%= meeting_member.memberable == meeting_member.meeting.host ? t(".host") : t("activerecord.models.#{meeting_member.memberable_type.downcase}") %>
          <%= meeting_member.must_sign ? "" : "(Spectator)" %>
        </p>
        <% if meeting_member.memberable.identification&.attached? %>
          <div data-controller="modal">
            <button class="btn btn-link card-link" data-action="click->modal#open">
              <%= t('.identification') %>
            </button>
            <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
              <!-- Modal Inner Container -->
              <div class="max-h-screen w-full max-w-2xl relative">
                <div class="m-1 bg-white rounded shadow">
                  <div class="p-8">
                    <div>
                      <p class="text-xl font-semibold text-primary-500 mb-4">
                        <%= meeting_member.memberable.name.possessive %> ID
                      </p>
                    </div>
                    <div>
                      <div class="flex justify-center">
                        <% if meeting_member.memberable.identification&.content_type == "application/pdf" %>
                          <div data-controller="id-pdf" data-scale="1.0" data-id-pdf-url-value="<%= identification_meeting_meeting_member_path(meeting_member.meeting, meeting_member) %>">
                            <div class="pdf-container">
                              <canvas data-id-pdf-target="canvas"></canvas>
                            </div>
                          </div>
                        <% else %>
                          <%= image_tag identification_meeting_meeting_member_path(meeting_member.meeting, meeting_member), class: "max-h-96" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @host && meeting_member.verifiable? %>
          <div>
            <% verified = meeting_member.memberable.verified? || meeting_member.memberable.finalized? %>
            <button class="btn btn-link card-link <%= verified ? "success-text" : "danger-text" %>"
                    data-confirm="<%= t("meeting_members.verify_confirmation", user: meeting_member.memberable.name.possessive) %>"
                    data-action="confirm:complete->meeting-members--member#verifyMember"
                    <%= "disabled" if verified %>>
              <% if verified %>
                <%= t('.verified') %>
                <%= fa_icon "check", weight: "fas", class: "ml-2" %>
              <% else %>
                <%= t('.verify') %>
              <% end %>
            </button>
          </div>
        <% end %>
      </div>
      <div>
        <% if @host && meeting_member.memberable != current_user && !meeting_member.finalized? && !meeting_member.meeting.completed? %>
          <%= button_to meeting_meeting_member_path(meeting_member.meeting, meeting_member), method: :delete, class: "btn btn-small text-lg btn-danger outline" do %>
            <%= fa_icon "trash", weight: "fas" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="hidden mt-2 pt-2 border border-l-0 border-r-0 border-b-0" data-meeting-members--member-target="details">
      <div class="grid grid-cols-4">
        <p class="card-paragraph">
          <%= t(".email") %>:
        </p>
        <p class="card-paragraph col-span-3">
          <%= meeting_member.memberable.email %>
        </p>

        <p class="card-paragraph">
          <%= t(".phone_number") %>:
        </p>
        <p class="card-paragraph col-span-3">
          <%= meeting_member.memberable.phone_number %>
        </p>

        <% if meeting_member.memberable_type == "Participant" %>
          <p class="card-paragraph">
            <%= t(".status") %>:
          </p>
          <p class="card-paragraph col-span-3">
            <%= meeting_member.memberable.aasm.human_state %>
          </p>
          <% if @host %>
            <p class="col-span-4">
              <button class="btn btn-link card-link" data-action="click->meeting-members--member#edit">
                <%= t(".edit") %>
              </button>
            </p>
            <p class="col-span-4">
              <%= tag.button t(".copy_link"), class: "btn btn-link card-link", data: { controller: "clipboard", clipboard_text: meeting_participant_sign_in_url(meeting_member.meeting, meeting_member.memberable) } %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>