<%= form_with(model: user, url: user_id_upload_path, html: { method: :post }) do |form| %>
  <div class="flex justify-between">
    <div class="flex">
      <div class="relative">
        <%= identification_preview(user) %>
        <div class="absolute opacity-70" style="top: 2em; right: 1em;">
          <%= form.file_field :identification, accept: 'image/*,application/pdf', class: "input-file" %>
          <label for="user_identification" class="ml-4">
            <%= render_svg "icons/photo", styles: "fill-current icon-xs mr-2" %> <span><%= t(".select_file") %></span>
          </label>
        </div>
      </div>
    </div>
    <div class="flex">
      <%= form.button class: "btn btn-primary" do %>
        <%= fa_icon "upload", weight: "fas", class: "mr-2" %>
        <%= t('.submit') %>
      <% end %>
      <%= link_to t('.skip'), user_id_upload_path, class: "btn btn-link", data: { confirm: t('.confirm_skip') } %>
    </div>
  </div>
<% end %>