<% user_form_data = {
  turbo_frame: "_top",
  controller: "form-loading",
  action: "submit->form-loading#loading",
  form_loading_load_with_value: fa_icon("upload", weight: "fas", class: "mr-2") + t(".uploading")
} %>
<%= form_with(model: user, url: user_id_upload_path, html: { method: :post }, data: user_form_data) do |form| %>
  <%= hidden_field_tag :meeting_id, @meeting_id %>
  <div class="flex justify-between">
    <div class="flex">
      <div class="relative">
        <%= identification_preview(user) %>
        <div class="absolute opacity-70" style="top: 2em; right: 1em;">
          <%= form.file_field :identification, accept: 'image/*,application/pdf', class: "input-file" %>
          <label for="user_identification" class="ml-4">
            <%= render_svg "icons/photo", styles: "fill-current icon-xs mr-2" %> <span><%= t(".select_file") %></span>
          </label>
        </div>
      </div>
    </div>
    <div class="flex">
      <%= form.button class: "btn btn-primary", data: { form_loading_target: "button" } do %>
        <%= fa_icon "upload", weight: "fas", class: "mr-2" %>
        <%= t('.submit') %>
      <% end %>
<% end %>
      <% if user.identification.attached? %>
        <%= button_to t('.delete'), user_id_upload_path(meeting_id: @meeting_id), class: "btn btn-link danger-text", method: :delete, data: { confirm: t('.confirm_delete') } %>
      <% end %>
      <%= link_to t('.skip'), user_id_upload_path, class: "btn btn-link", data: { confirm: t('.confirm_skip') } %>
    </div>
  </div>
