<%= turbo_frame_tag dom_id(document) do %>
  <div class="card">
    <div class="flex justify-between items-center gap-2">
      <div>
        <p class="card-title"><%= document.title %></p>
        <p class="card-paragraph">
          <%= document.aasm.human_state %>
        </p>
      </div>
      <div class="flex jusfify-between flex-col gap-2">
        <div class="flex">
          <%= link_to download_meeting_document_path(document.meeting, document), class: "btn btn-small text-lg btn-primary", data: { turbo_frame: "_top" } do %>
            <%= fa_icon "download", weight: "fas" %>
          <% end %>
          <% if @host %>
            <%= link_to edit_meeting_document_path(document.meeting, document), class: "btn btn-small text-lg btn-primary ml-2" do %>
              <%= fa_icon "edit", weight: "fas" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% signed_members = document.signatures.where.not(signed_at: nil).map { |signature| signature.meeting_member } %>
          <%= render "meetings/partials/member_heads", members: signed_members %>
        </div>
      </div>
    </div>
  </div>
<% end %>