<%= turbo_frame_tag dom_id(@document) do %>
  <div class="card">
    <%= form_with(model: @document, url: meeting_document_path(@document.meeting, @document), html: {id: "doc_form_#{@document.id}", method: :put}, remote: true) do |form| %>
      <%= render "shared/error_messages", resource: @document %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", value: @document.title %>
      </div>

      <div class="form-group">
        <%= form.label :file %>
        <%= form.file_field :file, accept: "application/pdf", class: "form-control" %>
      </div>

      <div class="form-group">
        <div>
          <%= form.check_box :require_read, class: "form-checkbox mr-2" %>
          <%= form.label :require_read, class: "inline-block", checked: @document.require_read %>
        </div>
        <div>
          <%= form.check_box :read_only, class: "form-checkbox mr-2" %>
          <%= form.label :read_only, class: "inline-block", checked: @document.read_only %>
        </div>
      </div>
    <% end %>
    <div class="flex justify-between">
      <div class="flex">
        <button class="btn btn-primary" 
                data-controller="form-loading"
                data-action="click->form-loading#loading click->documents--document#update"
                data-form-loading-load-with-value="<%= t(".uploading") %>"
                data-form-loading-target="button">
          <%= t('.submit') %>
        </button>
        <button class="btn btn-link" data-action="click->documents--document#cancelEdit">
          <%= t(".cancel") %>
        </button>
      </div>
      <div class="flex">
        <%= button_to t(".delete"), meeting_document_path(@document.meeting, @document), method: :delete, class: "btn btn-danger outline", data: { confirm: t("are_you_sure") } %>
      </div>
    </div>
  </div>
<% end %>