<%= turbo_frame_tag "new_signature" do %>
  <div class="card">
    <p class="card-header"><%= t("signatures.otp.title") %></p>
    <div class="flex justify-between">
      <p class="card-paragraph"><%= t(".instructions") %></p>
      <%= form_with(
            url: verify_otp_meeting_document_path(@meeting, @document),
            data: { controller: "sms-animation", action: "submit->sms-animation#animate submit->signature#verifyOTP", turbo: "false" }) do |form| %>

        <div class="flex">
          <%= form.text_field :code, class: "btn mr-0 rounded-r-none", autocomplete: "off" %>
          <%= form.button class: "btn btn-secondary rounded-l-none", data: { sms_animation_target: "button" } do %>
            <%= t("sms_verifications.verify") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>