<div data-controller="tabs" data-tabs-active-tab="-mb-px tab-active transition">
  <ul class="list-none list-reset border-b">
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#1">1. <%=t('tutorials.tutorial_1') %></a>
    </li>
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#2">2. <%=t('tutorials.tutorial_2') %></a>
    </li>
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#3">3. <%=t('tutorials.tutorial_3') %></a>
    </li>
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#4">4. <%=t('tutorials.tutorial_4') %></a>
    </li>
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#5">5. <%=t('tutorials.tutorial_5') %></a>
    </li>
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#6">6. <%=t('tutorials.tutorial_6') %></a>
    </li>
    <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-2 px-4 text-primary hover:text-blue-800 font-semibold no-underline" href="#7">7. <%=t('tutorials.tutorial_7') %></a>
    </li>
  </ul>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/68_6EtdyW7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U7RM-gTSzhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QPPBdO6C_y4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lHkCs0345VY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ME_A-bB1e8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/g_ZQ5K1vMjU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>

  <div class="hidden py-4 px-4" data-tabs-target="panel">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RKyxQOr9I4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
  </div>
</div>