<div class="w-100 mx-auto my-2 px-4 h-full flex">
  <div>
    <h1 class="h3">
      <%= link_to t('.meetings'), meetings_path %> > <%= link_to @meeting.title, @meeting %> 
    </h1>
    <div class="grid grid-cols-12 gap-2 h-full flex">
      <div class="col-span-3 bg-white rounded shadow-md p-4">
        <h1 class="h3">
          <%= t('.documents') %>
        </h1>
        <%= turbo_frame_tag(
            "documents",
            src: tabs_meeting_documents_path(@meeting),
            data: {
              controller: "documents--tabs",
              documents__tabs_id_value: @meeting.id
            }
          ) %>

        <h1 class="h3">
          <%= t('.members') %>
        </h1>
        <%= turbo_frame_tag(
          "meeting_members",
          src: meeting_meeting_members_path(@meeting),
          data: {
            controller: "meeting-members--list",
            meeting_members__list_id_value: @meeting.id,
          }
        ) %>
      </div>
      <div class="col-span-9 bg-white rounded shadow-md h-full flex">
        <div
        id="pdf-controller"
        class=" h-full flex-1 bg-white rounded shadow-md"
        data-controller="documents--pdf"
        data-meeting-id="<%= @meeting.id %>"
        data-is-participant="<%= @host %>"
        data-meeting-member-id="<%= @meeting_member.id %>"
        data-documents--pdf-is-participant-value="<%= @host %>"
      >
        <div data-documents--pdf-target="progress" class="mx-auto p-10 text-center" style="height: 550px">
          <svg class="animate-spin mx-auto mt-10 h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <p class="text-lg">
            <%= t("loading") %>...
          </p>
        </div>

        <div class="h-full flex-1 flex flex-col">
          <div class="flex justify-between h-12 p-2">
            <h3 data-documents--pdf-target="title"></h3>
            <!--
              <button type="button" data-documents--pdf-target="generatePdf" class="btn btn-small btn btn-secondary hidden"><%= t('.generate_pdf') %></button>
            -->
          </div>

          <div class="flex-grow">
            <div data-documents--pdf-target="viewer" class="h-full"></div>
          </div>

          <%= render "meetings/partials/document_controls" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>