<div class="w-100 mx-auto my-2 px-4">
  <div>
    <h1 class="h3">
      <%= link_to t('.meetings'), meetings_path %> > <%= link_to @meeting.title, @meeting %> 
    </h1>
    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-3 bg-white rounded shadow-md p-4">
        <h1 class="h3">
          <%= t('.documents') %>
        </h1>
        <%= turbo_frame_tag(
            "documents",
            src: tabs_meeting_documents_path(@meeting),
            data: {
              controller: "documents--tabs",
              documents__tabs_id_value: @meeting.id
            }
          ) %>

        <h1 class="h3">
          <%= t('.members') %>
        </h1>
        <%= turbo_frame_tag(
          "meeting_members",
          src: meeting_meeting_members_path(@meeting),
          data: {
            controller: "meeting-members--list",
            meeting_members__list_id_value: @meeting.id,
          }
        ) %>
      </div>
      <div class="col-span-7 bg-white rounded shadow-md">
        <div data-controller="documents--pdf" data-scale="1.25" id="pdf-controller" data-meeting-id="<%= @meeting.id %>">
          <div id="pdf-container" class="max-h-128 overflow-y-scroll overflow-auto">
            <div data-documents--pdf-target="progress" class="mx-auto py-10" style="height: 550px">
              <p class="text-lg">
                <%= t("loading") %>...
              </p>
              <div class="h-3 relative max-w-xl rounded-full overflow-hidden">
                  <div class="w-full h-full bg-gray-200 absolute"></div>
                  <div data-documents--pdf-target="bar" class="h-full bg-primary-500 relative w-0"></div>
              </div>
            </div>
            <p data-documents--pdf-target="placeholder" class="mx-auto py-10 text-gray-700">
              <%= t("documents.placeholder") %>
            </p>
            <canvas data-documents--pdf-target="canvas"></canvas>
          </div>
          <%= render "meetings/partials/document_controls" %>
        </div>
      </div>
    </div>
  </div>
</div>