<% if @meeting_member.must_sign %>
  <div data-controller="signature" 
      data-signature-document-id-value="" 
      data-signature-signed-value="false"
      data-signature-readonly-value="false"
      id="signature-controller"
      data-signature-meeting-id-value="<%= @meeting.id %>">
    
    <% if @meeting_member.memberable == @meeting.host && !@meeting.signing? %>
      <% if !@meeting.all_participants_verified? %>
        <span data-controller="tooltip" data-signature-target="tooltip" data-tippy-content="<%= t(".must_verify_participants") %>">
      <% end %>
        <button data-action="click->signature#allowSignatures"
                data-signature-target="startSigning"
                class="btn btn-primary"
                <% if !@meeting.all_participants_verified? %>
                  disabled
                <% end %>>
          <%= t(".allow_signatures") %>
        </button>
      <% if !@meeting.all_participants_verified? %>
        </span>
      <% end %>
    <% end %>

    <div data-controller="modal" id="signature_modal">

      <button data-action="click->modal#open" data-signature-target="modalButton" class="btn btn-secondary">
        <%= fa_icon "file-signature", weight: "fas", class: "mr-2" %>
        <%= t(".sign") %>
      </button>
      <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
        <!-- Modal Inner Container -->
        <div class="max-h-screen w-full max-w-2xl relative">
          <div class="m-1 bg-white rounded shadow">
            <div class="p-8">
              <%= turbo_frame_tag "new_signature", data: { signature_target: "modal" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>